$primary: #00FA9A;
$secondary: rgba(149, 209, 204, 0.69);
$info: rgba(149, 209, 204, 0.1);
$headings-font-family: 'Montserrat Alternate', sans-serif;
$font-family-sans-serif: 'Montserrat Alternate', sans-serif;
$grid-gutter-width: 0;
